@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* media show only screen 480px */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    color: #000;
    background-color: #fff;
}

@media screen and (min-width: 480px) {
.show-only-mobile {
    display: none;
}
}

@media screen and (max-width: 480px) {
    .hide-from-mobile {
        display: none !important;
    } 
    /* .mt-mobile-only {
        margin-top: 150px !important;
    } */
}

.first-header input.first-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
  }

  .mobile form input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff !important;
    opacity: 1; /* Firefox */
  }

  /* .header-search .select-custom {
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0.2rem solid #fff !important;
    border-bottom: 0.2rem solid #fff !important;
  } */

  .header-search-category .btn-icon {
    border-radius: 0 !important;
  }

  .mobile-tab::-webkit-scrollbar {
    display: none;
  }

  .active-border .border-primary {
    border-left: 0.3rem solid #0080E6;
    border-bottom: 0 !important;
  }

  .bb-bg-btn {
    background: #0080E6 !important;
    color: #fff;
    border-radius: 0;
  }

  .sticky-header.fixed {
    background: #0080E6 !important;
  }

  .bb-check-link a {
    color: #0080E6 !important;
  }

  .profile-dropdown .dropdown-menu {
    background: #fff !important;
    left: -76px !important;
    min-width: 200px;
  }

  .profile-dropdown .dropdown-menu a {
    padding: 8px 12px !important;
    font-size: 12px;
    color: #000 !important;
  }

  select option {
    color: #fff !important;
    background: #0080E6 !important;
  }

  select option {
    padding: 5px 10px !important;
  }

  [type=text], [type=email], [type=url], [type=password], [type=number], [type=date], [type=datetime-local], [type=month], [type=search], [type=tel], [type=time], [type=week], [multiple], textarea, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 0.1rem;
    border-radius: 0;
    padding: 0.5rem 0.75rem;
    font-size: 13px;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000;
}


input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 13px !important;
  font-family: 'Poppins', sans-serif !important;
}

/* when input is focused */
[type=text]:focus, [type=email]:focus, [type=url]:focus, [type=password]:focus, [type=number]:focus, [type=date]:focus, [type=datetime-local]:focus, [type=month]:focus, [type=search]:focus, [type=tel]:focus, [type=time]:focus, [type=week]:focus, [multiple]:focus, textarea:focus, select:focus {
    outline: 0;
    border-color: #0080E6;
    border-width: 0.1rem;
}